.lion,
.lion * {
  box-sizing: border-box;
}
.lion {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.lion2 {
  background: var(
    --savane,
    linear-gradient(180deg, rgba(255, 187, 0, 1) 0%, rgba(153, 112, 0, 1) 100%)
  );
  display: flex;
  flex-direction: column;
  gap: 133px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 1358px;
  position: relative;
}
.div {
  display: flex;
  flex-direction: row;
  gap: 31px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.head {
  display: flex;
  flex-direction: row;
  gap: 31px;
  row-gap: 133px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  width: 1374px;
  position: relative;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 67px;
  position: relative;
}
.nav2 {
  background: #745501;
  border-radius: 30px;
  padding: 0px 30px 0px 330px;
  display: flex;
  flex-direction: row;
  gap: 186px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 59px;
  position: relative;
  overflow: hidden;
}
.frame-8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 600px;
  height: 59px;
  position: relative;
}
.accueil {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  width: 90px;
  height: 35px;
}
.habitat {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  width: 90px;
  height: 35px;
}
.services {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  width: 104px;
  height: 35px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  width: 101px;
  height: 35px;
}
.connexion {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  width: 145px;
  height: 35px;
}
.logo {
  padding: 52px 0px 24px 57px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 230px;
  height: 135px;
  position: absolute;
  left: -50px;
  top: -38px;
}
.logo2 {
  background: #ffffff;
  flex-shrink: 0;
  width: 134px;
  height: 38px;
  position: relative;
  overflow: hidden;
}
.zoo-arcadia {
  color: #192b2d;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 5px;
  top: -8px;
  width: 125px;
  height: 53px;
}
.div2 {
  display: flex;
  flex-direction: row;
  gap: 51px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1288px;
  height: 457px;
  position: relative;
}
.p {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 662px;
  height: 342px;
  position: relative;
}
.le-roi-c-est-lui-mais-ce-n-est-pas-lui-qui-en-fait-le-plus-le-charisme-et-l-apparence-majestueuse-du-lion-lui-ont-donn-le-surnom-de-roi-des-animaux-ce-grand-pr-dateur-veille-en-v-ritable-monarque-sur-son-territoire-et-sa-cour-compos-e-de-lionnes-et-leurs-petits-ce-sont-ces-femelles-qui-assurent-l-essentiel-des-chasses-et-approvisionnent-le-groupe-ces-chasseuses-t-m-raires-encerclent-discr-tement-la-proie-choisie-certaines-se-laissent-voir-pendant-que-d-autres-se-mettent-l-aff-t-quelques-dizaines-de-m-tres-du-gibier-elles-fondent-ensuite-sur-leur-cible-en-chargeant-une-vitesse-de-40-60-km-h {
  color: #ffffff;
  text-align: left;
  position: relative;
  width: 662px;
  height: 342px;
  -webkit-text-stroke: 1px #ffffff;
}
.le-roi-c-est-lui-mais-ce-n-est-pas-lui-qui-en-fait-le-plus-le-charisme-et-l-apparence-majestueuse-du-lion-lui-ont-donn-le-surnom-de-roi-des-animaux-ce-grand-pr-dateur-veille-en-v-ritable-monarque-sur-son-territoire-et-sa-cour-compos-e-de-lionnes-et-leurs-petits-ce-sont-ces-femelles-qui-assurent-l-essentiel-des-chasses-et-approvisionnent-le-groupe-ces-chasseuses-t-m-raires-encerclent-discr-tement-la-proie-choisie-certaines-se-laissent-voir-pendant-que-d-autres-se-mettent-l-aff-t-quelques-dizaines-de-m-tres-du-gibier-elles-fondent-ensuite-sur-leur-cible-en-chargeant-une-vitesse-de-40-60-km-h-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.le-roi-c-est-lui-mais-ce-n-est-pas-lui-qui-en-fait-le-plus-le-charisme-et-l-apparence-majestueuse-du-lion-lui-ont-donn-le-surnom-de-roi-des-animaux-ce-grand-pr-dateur-veille-en-v-ritable-monarque-sur-son-territoire-et-sa-cour-compos-e-de-lionnes-et-leurs-petits-ce-sont-ces-femelles-qui-assurent-l-essentiel-des-chasses-et-approvisionnent-le-groupe-ces-chasseuses-t-m-raires-encerclent-discr-tement-la-proie-choisie-certaines-se-laissent-voir-pendant-que-d-autres-se-mettent-l-aff-t-quelques-dizaines-de-m-tres-du-gibier-elles-fondent-ensuite-sur-leur-cible-en-chargeant-une-vitesse-de-40-60-km-h-span2 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.image-10 {
  border-radius: 407px 225px 452px 113px;
  flex-shrink: 0;
  width: 550px;
  height: 406px;
  position: relative;
  object-fit: cover;
}
.p2 {
  display: flex;
  flex-direction: column;
  gap: 88px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 789px;
  position: relative;
}
.kr-ger-jeune-lion-plein-de-fougue-kr-ger-a-de-l-app-tit-pouvant-d-vorer-au-cours-d-un-m-me-repas-une-demi-douzaine-de-poulets-v-ritable-chef-de-clan-kr-ger-est-la-t-te-du-groupe-de-lions-de-arcadia {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 153px;
  -webkit-text-stroke: 1px #ffffff;
}
.notes-v-t-rinaires-01-011-2024-etat-de-l-animal-bonne-sant-nourriture-nourriture-pour-f-lins-quantit-recommand-1900-g {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 409px;
  height: 146px;
  -webkit-text-stroke: 1px #ffffff;
}
.image-11 {
  border-radius: 171px 369px 192px 180px;
  flex-shrink: 0;
  width: 554px;
  height: 415px;
  position: relative;
  object-fit: cover;
}
.footer {
  background: #a87b00;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 337px;
  position: relative;
}
.div3 {
  display: flex;
  flex-direction: row;
  gap: 242px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 191px;
  position: relative;
}
.p3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.propos-du-zoo-nos-habitats-services-contact-mentions-l-gales-politique-de-confidentialit {
  color: #ffffff;
  text-align: left;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.horaires-d-ouverture-lundi-dimanche-9-h-30-20-h-00 {
  color: #ffffff;
  text-align: left;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.div4 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 399px;
  position: relative;
}
.p4 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.img {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-73 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.email-arcadia-zoonature-fr {
  color: #ffffff;
  text-align: left;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.p5 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.img2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.adresse-123-avenue-de-la-faune-75000-paris {
  color: #ffffff;
  text-align: left;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 365px;
  height: 23px;
}
.p6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.img3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.img4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: -7px;
  top: -7px;
  overflow: visible;
}
.img5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 234px;
  height: 35px;
  position: relative;
}
.t-l-phone-33-1-23-45-67-89 {
  color: #ffffff;
  text-align: left;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 224px;
  height: 25px;
}
.line-1 {
  margin-top: -2px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  flex-shrink: 0;
  width: 1399px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0.143deg) scale(1, 1);
}
.div5 {
  display: flex;
  flex-direction: row;
  gap: 323px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 84px;
  position: relative;
}
.arcadia {
  background: linear-gradient(
    270deg,
    rgba(51, 37, 0, 1) 0%,
    rgba(199, 170, 90, 1) 0.009999999747378752%,
    rgba(150, 126, 60, 1) 15.999999642372131%,
    rgba(249, 214, 120, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Acme-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: relative;
  width: 154px;
  height: 53px;
}
._2023-arcadia-tous-droits-r-serv-s {
  color: #ffffff;
  text-align: left;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.p7 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 258px;
  height: 89px;
  position: relative;
}
.suivez-nous-facebook-instagram-twitter {
  color: #ffffff;
  text-align: left;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 244px;
  height: 79px;
}
.suivez-nous-facebook-instagram-twitter-span {
  color: #ffffff;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.suivez-nous-facebook-instagram-twitter-span2 {
  color: #ffffff;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}
.suivez-nous-facebook-instagram-twitter-span3 {
  color: #ffffff;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.suivez-nous-facebook-instagram-twitter-span4 {
  color: #ffffff;
  font-family: "Acme-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
}
/* Style initial */
.hover-link {
  text-decoration: none;           /* Pas de soulignement par défaut */
  font-size: 1,5rem;                 /* Taille de base du texte */
  transition: all 0.3s ease;       /* Transition douce */
  color: #fffefe;                     /* Couleur de texte */
  position: relative;
}

/* Style au survol */
.hover-link:hover {
  font-size: 1.6rem;               /* Légèrement plus grand */
  color: #c3c1c1;                  /* Couleur du texte au survol */
}

/* Soulignement au survol */
.hover-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;                     /* Épaisseur de la ligne */
  bottom: 0;
  left: 0;
  background-color: #ffffff;       /* Couleur de la ligne de soulignement */
  transform: scaleX(0);            /* Ligne cachée initialement */
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.hover-link:hover::after {
  transform: scaleX(1);            /* Afficher la ligne au survol */
  transform-origin: bottom left;
}